/*:root {
    --toast-info : rgb(32, 99, 155);
    --toast-succ : rgb(60, 174, 163);
    --toast-warn : rgb(246, 213, 92);
    --toast-erro : rgb(237, 85, 59);
}*/
#ct-report {
    color: #0B5394;
    border-collapse: collapse;
    font-family: arial;
    font-size: 12px;
    width: 100%;
    min-width: 1300px;
}
#ct-report thead tr:first-child {
    background-color: #0B5394;
}
#ct-report thead tr {
    background-color: #F3F3F3;
}
#ct-report thead tr:nth-child(3) th {
    border-top-width: 0;
    font-size: .6em;
}
#ct-report thead tr th {
    padding: 4px 8px;
    white-space: nowrap;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #b7b7b7;
    line-height: 1rem;
}
#ct-report tbody tr td {
    text-align: center;
    padding: 4px 8px;
    border: 1px solid #b7b7b7;
    white-space: nowrap;
}
#ct-report tbody tr td:nth-child(5),
#ct-report tbody tr td:nth-child(7),
#ct-report tbody tr td:nth-child(11) {
    white-space: normal;
}
#ct-report tbody tr td:nth-child(5),
#ct-report tbody tr td:nth-child(11) {
    text-align: left;
}
#ct-report tbody tr td:nth-child(11) {
    color: red;
}
/*****Modal-Dialog*****/
#ct-modal.modal-backdrop {
    inset: 0;
    z-index: 1000;
    position: fixed;
    background-color: rgba(0 , 0, 0, .3);
    visibility: hidden;
}
#ct-modal.modal-backdrop.show {
    visibility: visible;
}
#ct-modal .modal {
    width: 90%;
    max-width: 1500px;
    min-height: 50px;
    background-color: white;
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;
}
#ct-modal .modal header {
    padding:  12px 0;
}
#ct-modal .modal-title {
    font-weight: bold;
    font-size: 1.5rem;
}
#ct-modal .modal-close {
    position: absolute;
    top: 4px;
    right: 12px;
}
#ct-modal .modal section {
    padding: 12px 0;
    overflow-x: auto;
}
#ct-modal .modal footer {
    padding: 12px 0;
}
/*****Toast*****/
#ct-toast.toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: auto;
    color: white;
    position: fixed;
    z-index: 1000;
    left: 0;
    right:0;
    bottom: 30px;
    white-space: nowrap;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 3px rgb(160, 160, 160, 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #3282b8;
    /*backdrop-filter: blur(10px);*/
    /*background-color: rgb(32, 99, 155, .4);*/
}
#ct-toast>.toast-icon {
    min-width: 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.3em;
    float: left;
}
#ct-toast>.toast-desc {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
}
#ct-toast.toast.show {
    min-width: 500px;
    visibility: visible;
    animation: fadein 0.5s, stay 3s 0.5s, fadeout 0.5s 3.5s;
    animation-fill-mode: forwards;
}
#ct-toast.toast.show.effect-expand {
    min-width: 50px;
    visibility: visible;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, fadeout 0.5s 4s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes expand {
    from {min-width: 50px;}
    to {min-width: 500px;}
}
@keyframes stay {
    from {min-width: 500px;}
    to {min-width: 500px;}
}
@keyframes fadeout {
    from {min-width: 500px; bottom: 30px; opacity: 1;}
    to {min-width: 500px; bottom: 0; opacity: 0;}
}
